.row {
  margin-bottom: 10px;
}

.banner {
  width: 100%;
  height: 90px;
  margin-bottom: 20px;
  margin-top: 0px;
  background-color: #FFC300;
}

.box {
  height: 420px;
  border: 4px solid grey;
  text-align: left;
  padding: 5px 5px 20px 5px;
  margin-bottom: 10px;
}

img {
  margin-top: 0px;
  width: 100%;
  height: auto;
  max-height: 320px;
}

h3 p {
  position: relative;
}